<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Maintenance</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; New Order</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Order List</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                            class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Order Date</th>
                                    <th>Reception Date</th>
                                    <th>Dispatched Date</th>
                                    <th>Delivery Date</th>
                                    <th>Total Price</th>
                                    <th>Seller</th>
                                    <th>Delivery Man</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td>{{order.OrderDate}}</td>
                                    <td>{{order.ReceptionDate}}</td>
                                    <td>{{order.DispatchedDate}}</td>
                                    <td>{{order.DeliveryDate | date:"dd/MM/yyyy"}}</td>
                                    <td>S/.{{order.TotalPrice.toFixed(2)}}</td>
                                    <td>{{order.Seller}}</td>
                                    <td>{{order.Delivery Man}}</td>
                                    <td>{{order.Status}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="editOrder(order.OrderId)" type="button"
                                                class="btn btn-warning" data-toggle="modal"
                                                data-target="#modal-defaultorder">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button (click)="deleteOrder(order.OrderId)" type="button"
                                                class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formOrder" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'New':'Editing'}} order</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputReceptionDate">Reception Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="ReceptionDate"
                                class="form-control" placeholder="Enter order date">
                        </div>
                        <div class="form-group">
                            <label for="inputDispatchedDate">Dispatched Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="DispatchedDate"
                                class="form-control" placeholder="Enter dispatched date">
                        </div>
                        <div class="form-group">
                            <label for="inputDeliveryDate">Delivery Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="DeliveryDate"
                                class="form-control" placeholder="Enter delivery date">
                        </div>
                        <div class="form-group">
                            <label for="selectProduct">Product</label>
                            <select name="Product" class="form-control" formControlName="ProductId">
                                <option value="" disabled selected hidden>Select a product</option>
                                <option *ngFor="let product of products" [value]="product.ProductId">
                                    {{product.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity">Quantity</label>
                            <input required type="text" class="form-control" Name="" formControlName="Quantity"
                                class="form-control" placeholder="Enter quantity" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDeliveryMan">DeliveryMan</label>
                            <select name="DeliveryMan" class="form-control" formControlName="DeliveryMan">
                                <option value="" disabled selected hidden>Select a delivery man</option>
                                <option *ngFor="let deliveryman of deliverymans" [value]="deliveryman.UserId">
                                    {{deliveryman.Name}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-primary" (click)="addProduct()"><i
                                class="fa fa-save"></i>&nbsp;&nbsp;
                            Add</button>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                        class="table row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th>SKU</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of elements">
                                <td>{{element.sku}}</td>
                                <td>{{element.product}}</td>
                                <td>S/.{{element.price}}</td>
                                <td>{{element.quantity}}</td>
                                <td>S/.{{(element.price*element.quantity).toFixed(2)}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button (click)="editElement(element.productid)" type="button"
                                            class="btn btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button (click)="deleteElement(element.productid,element.ubicationid)"
                                            type="button" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>S/.{{this.finalprice.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                            Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-defaultorder" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formEditOrder" (ngSubmit)="submitOrder()">
                    <div class="modal-header">
                        <h4 class="modal-title">Editing order</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputOrderDate">Order Date</label>
                            <input readonly type="text" class="form-control" Name="" formControlName="OrderDate"
                                class="form-control" placeholder="Enter order date" required>
                        </div>
                        <div class="form-group">
                            <label for="inputReceptionDate">Reception Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="ReceptionDate"
                                class="form-control" placeholder="Enter order date">
                        </div>
                        <div class="form-group">
                            <label for="inputDispatchedDate">Dispatched Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="DispatchedDate"
                                class="form-control" placeholder="Enter dispatched date">
                        </div>
                        <div class="form-group">
                            <label for="inputDeliveryDate">Delivery Date</label>
                            <input required type="date" class="form-control" Name="" formControlName="DeliveryDate"
                                class="form-control" placeholder="Enter delivery date">
                        </div>
                        <div class="form-group">
                            <label for="selectState">Estado</label>
                            <select name="State" class="form-control" formControlName="State" #selectState>
                                <option value="" disabled selected hidden>Select a state</option>
                                <option value="To attend">To attend</option>
                                <option value="In progress">In progress</option>
                                <option value="In delivery">In delivery</option>
                                <option value="Received">Received</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputTotalPrice">Total Price</label>
                            <input readonly type="text" class="form-control" Name="" formControlName="TotalPrice"
                                class="form-control" placeholder="Enter total price" required>
                        </div>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                        class="table row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th>SKU</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of elements">
                                <td>{{element.sku}}</td>
                                <td>{{element.product}}</td>
                                <td>S/.{{element.price}}</td>
                                <td>{{element.quantity}}</td>
                                <td>S/.{{(element.price*element.quantity).toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>S/.{{this.finalprice.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                            Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>